*{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.sarc{
    /* width: 100%; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    
    align-items: center;
    width: auto;
    height: 700px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1px;
  

}
img{
    height: 100%;
}
.login{
    
    height: 100%;
    width: 500px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login p{
    font-size: 2.5rem;
    color: #353535;
}
.f1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  input{
      
      border-bottom: 1px solid #353535;
      outline: none;
      font-size: 2rem;
  }
  .tex{
    width: 350px;
    margin-top: 30px;
    height: 2.5rem;
  }
  .reg{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  a{
      text-decoration: none;
      color: #353535;
  }
  .fp{
      
      width: 350px;
      margin-top: 10px;
  }
  .container2{
    display: flex;
    padding: 20px;
    align-items: center;
    width: auto;
    height: 300px;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1px;
  

}
textarea {
    resize: none;
    outline: none;
    border: 1px solid grey;
    width: 300px;
    height: 150px;
  }
  .ma{
      width: 600px;
      height: 700px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
      
      
  }
  .chm{
    display: flex;
    
    
  }
  .pd1{
      
      width: 200px;
      height: 50px;
      background-color: antiquewhite;
      padding: 0px;
      margin: 0px;
      border: 0px;
      
      color: black;
  }
  .profile{
      background-color: white;
      color: black;
      
     
      
  }
  .descopera{
      color: black;
  }
  .profile2{
    background-color: none;
    margin: 20px;
    border: 0px;
    background-color: #fff;
    padding: 20px;
   
    
}
.descopera2{
    background-color: none;
    margin: 20px;
      padding: 20px;
      border: 0px;
      background-color: #fff;
}
  
  .scrrc
  {
      width: 100%;
      height:100%;
      padding: 20px;
      border-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      font-size: 1.5rem;
  }
 
  .scrrc img{
      width:200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 80px;
  }

.udos{
    display: flex;
}
.tot{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
}
.despre{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top: 20px;
    
}
.adaugare{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 500px;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px;
}
.adg{
    margin-top: 50px;
    font-size: 2rem;
}
.musk{
    width: 100%;
    height:100%;
    
    border-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bi-suit-heart-fill:hover{
    fill: red;
}
.glyphicon{
    width:40px;
    height:40px;
    font-size: 40px;
    color:rgb(221, 176, 116);
}
.glyphicon-thumbs-up:hover{
    color: green;
    
}
.glyphicon-thumbs-down:hover{
    color: red;
}

.bro{
    background-color: antiquewhite;
}
 .parc img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}
.descopera3{
    background-color: none;
    
      
      border: 0px;
      background-color: rgb(212, 208, 200);
}